th,td{
    min-width: 80px;
    border: 1px solid;
}
table{
    border-collapse: collapse;
}

td{
    outline: none;
}
.excel-btn{
    background-color: transparent;
    padding: 7px 20px;
    border: 2px solid grey;
    border-radius: 5px;
}
#bold-btn{
    font-weight: bold;
}
#underline-btn{
    text-decoration: underline 1.5px;
}

.align-btn{
    border: none;
}
#left-btn{
    background-color: #efefef;
}

#cut-btn, #copy-btn, #paste-btn{
    background-color: transparent;
    border: none;
}